@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --clr-darkblue: 18, 66, 101;
    --clr-brightblue: 36, 135, 206;
    --clr-blue: 13, 110, 253;
    --clr-vlblue: 248, 251, 254;    /* #f8fbfe */
}

body {
    font-family: 'Open Sans', sans-serif;
}

#hero-section::before {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../img/geometric-abstract.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-darkblue { background-color: rgb( var(--clr-darkblue) );}
.bg-brightblue { background-color: rgb( var(--clr-brightblue) );}
.bg-blue { background-color: rgb( var(--clr-blue) );}
.bg-vlblue { background-color: rgb( var(--clr-vlblue) );}

.border-darkblue { border-color: rgb( var(--clr-darkblue) );}
.border-brightblue { border-color: rgb( var(--clr-brightblue) );}
.border-blue { border-color: rgb( var(--clr-blue) );}

.text-brightblue { color: rgb( var(--clr-brightblue) );}
.text-darkblue { color: rgb( var(--clr-darkblue) );}
.text-blue { color: rgb( var(--clr-blue) );}

.fw-300 { font-weight: 300;}
.fw-400 { font-weight: 400;}
.fw-500 { font-weight: 500;}
.fw-600 { font-weight: 600;}
.fw-700 { font-weight: 700;}
.fw-800 { font-weight: 800;}
.fw-900 { font-weight: 900;}

.navbar-nav > .nav-item > .top-links {
    color: rgb( var(--clr-darkblue) );
}

.navbar-nav > .nav-item > .top-links.active, .navbar-nav > .nav-item > .top-links:hover {
    color: rgb( var(--clr-brightblue) );
}

.hero-card {
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.hero-card:hover {
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
}

.hero-card:hover .hero-card-header {
    color: #2487ce;
}

.count-single {
    color: #124265;
}

.about-video-image {
    background-image: url("../img/about-video.jpg");
    background-size: cover;
    aspect-ratio: 1.2;
}

.about-video-play-btn {
    width: 4rem;
    height: 4rem;
    background-color: #2487ce;
    z-index: 1;
    position: relative;
}

.about-video-play-btn::before {
    content: '';
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(36, 135, 206, 0.4);
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    z-index: -2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-video-play-btn::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 0.8rem solid white;
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent;
    margin: 0 0 0 12%;
    z-index: 2;
}

.client-img {
    filter: grayscale(100);
    -webkit-filter: grayscale(100);
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}

.client-img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.slides-box {
    overflow-x: hidden;
}

/* .slides-wrap {
    transform: translateX(-33.33%);
    -webkit-transform: translateX(-33.33%);
    -moz-transform: translateX(-33.33%);
    -ms-transform: translateX(-33.33%);
    -o-transform: translateX(-33.33%);
} */

.quote-block {
    position: relative;
    background-color: rgb(243, 249, 253);
    /* border-bottom: 1px solid rgb(243, 249, 253); */
}

.quote-block::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.5rem;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 1.5rem solid rgb(243, 249, 253);
    border-left: 1.6rem solid transparent;
    border-right: 1.6rem solid transparent;
}

.quote-block > p {
    font-size: 1rem;
    color: rgb(66, 66, 66);
    line-height: 1.6;
}

.slide-circle {
    width: 12px;
    height: 12px;
    border: 1px solid rgb( var(--clr-brightblue) );
}

.slide-circle.active { background-color: rgb( var(--clr-brightblue) );}

.services-grid-item-wrap { height: 22rem;}

.services-grid-item-wrap-1:hover > .services-card > .card-body > .services-blob-wrap > .service-blob-1 { fill: #47aeff;}
.services-grid-item-wrap-2:hover > .services-card > .card-body > .services-blob-wrap > .service-blob-2 { fill: #ffa76e;}
.services-grid-item-wrap-3:hover > .services-card > .card-body > .services-blob-wrap > .service-blob-3 { fill: #e80368;}
.services-grid-item-wrap-4:hover > .services-card > .card-body > .services-blob-wrap > .service-blob-4 { fill: #ffbb2c;}
.services-grid-item-wrap-5:hover > .services-card > .card-body > .services-blob-wrap > .service-blob-5 { fill: #ff5828;}
.services-grid-item-wrap-6:hover > .services-card > .card-body > .services-blob-wrap > .service-blob-6 { fill: #11dbcf;}
.services-grid-item-wrap:hover > .services-card > .card-body > .services-blob-wrap > .service-icon { color: white;}

.services-blob-wrap {
    width: 8rem;
    height: 8rem;
    margin-top: -0.9rem;
}

.services-grid-item-wrap > .services-card > .card-body > .services-blob-wrap > .service-blob {
    width: 100%;
    height: 100%;
    fill: #f5f5f5;
}

.service-icon {
    position: absolute;
    top: 2.75rem;
    left: 2.75rem;
    width: 2.5rem;
    height: 2.5rem;
}

.services-grid-item-wrap-1 > .services-card > .card-body > .services-blob-wrap > .service-icon-1 { color: #47aeff;}
.services-grid-item-wrap-2 > .services-card > .card-body > .services-blob-wrap > .service-icon-2 { color: #ffa76e;}
.services-grid-item-wrap-3 > .services-card > .card-body > .services-blob-wrap > .service-icon-3 { color: #e80368;}
.services-grid-item-wrap-4 > .services-card > .card-body > .services-blob-wrap > .service-icon-4 { color: #ffbb2c;}
.services-grid-item-wrap-5 > .services-card > .card-body > .services-blob-wrap > .service-icon-5 { color: #ff5828;}
.services-grid-item-wrap-6 > .services-card > .card-body > .services-blob-wrap > .service-icon-6 { color: #11dbcf;}

